<% include header %>

	<!-- 路径导航 -->
	<ol class="breadcrumb">
	  <li><a href="#">系统管理</a></li>
	  <li class="active">管理员列表</li>
	</ol>
	<!-- 路径导航 end -->

	<!-- 数据列表 -->
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<tr id="nohover">
					<th>管理员账号</th>
					<th>管理员密码</th>
					<th>管理员简介</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
				<% administrators.forEach(function(val){ %>
					<tr>
						<td><%= val.name %></td>
						<td><%= val.password %></td>
						<td><%= val.info %></td>
						<td><%= val.ctime.toLocaleString() %></td>
						<td>
							<a href="/admin/adminEdit/<%=val._id%>">修改</a>
							|
							<a href="/admin/adminRemove/<%=val._id%>" onclick="return confirm('您确定要删除吗?')">
								删除
							</a>
						</td>
					</tr>
				<% })%>
			</table>
		</div>
	</div>

<% include footer %>
